<form [formGroup]="loginForm">
  <div class="form-group">
    <mat-form-field>
        <input matInput placeholder="Email" type="email" formControlName="email" class="form-control" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Password"  type="password"
        class="form-control"
        formControlName="password"
        required>
    </mat-form-field>
    
    <label class="error">{{ errorMessage }}</label>
    <label class="success">{{ successMessage }}</label>
  </div>

  <button 
    mat-raised-button
    color="accent"
    type="submit"
    (click)="tryLogin(loginForm.value)"
  >
  Log In
  </button>

</form>
