@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

 
}
 .form-structor{
   display: inherit;
   align-items: center;
   justify-content: center;
   flex-direction: column;
  background-image: url("../../../assets/img/background_unscharf.png");
  background-position: center;
  background-size: cover;
  min-height: 812px;
  width: 100%;
  max-width: 375px;
}
.border{
  max-width: 300px;
  padding: 40px 20px;
    border-radius: 25px;
    box-shadow: 0 0 9px black;
  }

  .btn{
margin: 10px;
  }