<div class="centered">
  <div class="form-structor">
    <div class="border" *ngIf="log_in">
	  <h2 class="form-title" id="login" >Log in</h2>
    <app-login ></app-login>
    </div>
    <div class="border" *ngIf="!log_in">
      <h2 class="form-title" id="signup" >Sign Up</h2>
      <app-register ></app-register>
      </div>
    <div class="btn" >
      <span>or</span> <button mat-button class="btn" color="primary" (click)="toggleLogIn_LogUp()"><a>{{start_button}}</a></button>
    </div>
  </div>
 
</div>
